body {
	font: 55% monospace;
}
.col-md-12 {
    width: 100%;
    margin-top: 70px;
} 

.footerdivs {padding: 10px; text-align: center;}

.fdizquierda {float: left; width: 30%;}
.fdderecha {float: right; width:30%;}
.fdcentro {position:relative; margin: 0 auto; width: 30%;}

.box-header {
    display: block;
    padding: 0 0 0 0;
}

.pals {
    font-size: 10px;
}

table {
    width:100%;
    height:auto;
    margin:10px 0 10px 0;
    border-collapse:collapse;
    text-align:center;
}

.table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid black;
}

font {
    font-size: 12px;
}